---
import { IMAGES } from '../config/images';
---

<section class="kids-section" style={`background-image: url(${IMAGES.kids})`}>
<!-- Le reste du composant KidsSection.astro reste identique -->
</section>